.form{
    border: 1px solid burlywood;
    width:fit-content;
    margin-bottom: auto;
    background-color: aquamarine;
}

.p{
    text-align:justify;
    color: brown;
    border-style: dashed;
    border: ;
}